@import "tailwindcss";

:root {
  --background: oklch(93% 0.01 210);
  --foreground: oklch(47% 0.01 200);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-bounce {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-viga);
  --animate-slide-up: slide-up 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  --animate-slide-up-bounce: slide-up-bounce 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.animate-slide-up {
  animation: var(--animate-slide-up);
  opacity: 0;
}

.animate-slide-up-bounce {
  animation: var(--animate-slide-up-bounce);
  opacity: 0;
}

.animation-delay-300 {
  animation-delay: 0.8s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
